
ul{padding: 0; list-style: none;}
.sititle{
  font-size: 22px;
  margin: 34px 0;
}
.sititle i{margin: 0 10px; font-size: 24px;}
.box{
  width: calc(100% - 14px);
  border: 5px dashed #0000000e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box1-section1{
  margin-left: 30px;
  font-size: 14px;
  font-weight: 300;
}
.box1-section1 ul li{display: flex; align-items: center;}
.box1-section1 li:nth-child(4) p{color: #3377FF; font-weight: 500; }
.box1-section1 strong{
  flex-shrink: 0;
  font-size: 18px; 
  margin-right: 20px;
  font-weight: 500;
  color: #333;}

.box1-section2{
  text-align: center;
  margin-right: 30px;
}
.stat{font-size: 16px; color: #e13e3f; font-weight: 500;margin: 0;}
.app{
  margin-top: 10px;
  border: none;
  background: #3377FF;
  color: white;
  font-size: 16px;
  padding: 14px 26px;
  border-radius: 5px;
  cursor: pointer;
}

.box2title{
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 14px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}

.box2{
  width: calc(100% - 56px);
  padding: 26px; 
  justify-content: space-around; gap: 50px;}
.box2 img{
  aspect-ratio: 3 / 4.3;
  width: 400px;
}
.box2-section{align-self: flex-start;}
.box2-section strong{margin-right: 30px;width: 31px;flex-shrink: 0;}
.box2-section li{display: flex; min-height: 45px;}
.box2-section li strong{width: 40px;align-self: center;}
.box2-section p{align-self: center;}
.box2-section li a{color: #37f;font-weight: 500;}

.detail{
  margin: 20px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #0000000e;
}

.subContent > a{align-self: flex-end;}
.listBtn{
  width: 138px;
  height: 60px;
  border: 1px solid #37f;
  background: none;
  border-radius: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #3A3A3C;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px){
  .box{flex-direction: column;}
  .box1-section1{margin: 0;}
  .box1-section2{margin-bottom: 20px;}
  .box2 img{width: 100%;}
  .listBtn{transform: scale(0.7);}
}